@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Rubik:wght@400;500;700&family=Yeseva+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: 'Fira Code', monospace;
    overflow-x: hidden;
}









/* 
font-family: 'Fira Code', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Yeseva One', cursive;
*/